<header class="header">
    <div class="logo">logo</div>
    <nav class="navigue">
        <a href="/"> accueil</a>
        <a href="/movies"> movies</a>
        <a href="/movie/cdcdvc">details               
        <a href="/movies/ajouter"> ajouter film</a>
        <a href="/movie-search">recherch</a>
    </nav>
    <div class="presentation"></div>
</header>