<!DOCTYPE html>
<html lang="fr">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../public/style.css" rel="stylesheet">
    </head>
    <body>
            <% include ./partials/header%>
       
        <h1>express Movies : les site cinephiles</h1>
        <hr>
        <div class="contenue">
                <% var i= 1 %>
                <% for (film of list ){%>
                    <a href="/movie/film<%=i%> " ><div class="film">film <%=i%> </div></a>
                <% i+=1 }%>
        </div>
        <hr>
        <% include ./partials/footer%>
        <script src="../public/index.js"></script>
        
    </body>
</html>