<!DOCTYPE html>
<html lang="fr">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../public/style.css" rel="stylesheet">
    </head>
    <body>
            <% include ./partials/header%>
       
        <h1>express Movies : les site cinephiles</h1>
        <hr>
        <div class="contenue">
            <%if(resultar){  %>
            <% var i= 0 %>
            <% for (film of resultar ){%>
                
                    <div class="film">
                        <div class="image">
                    <img class="img" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2<%=film.poster_path%>" alt="" srcset="">
                    </div>
                    <div>
                        <p class="title"> <%=film.title%></p>
                       <button class="boutton"><a href="/movie/<%=i %>">plus info</a></button>
                    </div>
                    </div>
            <% i+=1 }%>
            <% } %>
        </div>
        <hr>
        <% include ./partials/footer%>
        <script src="../public/index.js"></script>
        
    </body>
</html>