<!DOCTYPE html>
<html lang="fr">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../public/style.css" rel="stylesheet">
    </head>
    <body>
        <% include ./partials/header%>
        <hr>
        <h1>les recherche</h1>
       <form action="/movie-search" method="post">
            <input type="text" name="term" id="term" placeholder="titre du film">
       </form>
       
        <hr>

        <div class="contenue">
            <%if(resultar){  %>
            <% var i= 1 %>
            <% for (film of resultar ){%>
                <a href="/movie/film<%=i%> " >
                    <div class="film">
                        <div class="image">
                     <img class="img" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2<%=film.poster_path%>" alt="" srcset="">
                    </div>
                    </div>
                </a>
            <% i+=1 }%>
            <% } %>
        </div>
<hr>
        <% include ./partials/footer%>

        <script src="../public/index.js"></script>
    </body>
</html>


