<!DOCTYPE html>
<html lang="fr">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../public/style.css" rel="stylesheet">
        </head>
    <body>
            <% include ./partials/header%>
        <hr>
            <h1>ici vous verez bientôt les details le </h1>
        <hr>
        <div class="details">
            <div class="oui">
            <div class="image-details">
                <img class="img-details" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2<%=movie.poster_path%>" alt="" srcset="">
            </div>
            <div class="details-film">
                <div style="height: 250px"><p>description: </p> <%=movie.overview%></div>
                <p>
                    <div class="plus">
                        <p>
                            <span>title: </span><%=movie.original_title%>
                        </p> 
                        <p>
                            <span>views: </span><%=movie.vote_average%>
                        </p>
                    </div>
                   
                </p>
            </div>
        </div>
        </div>
        <% include ./partials/footer%>
        <script src="../public/index.js"></script>
    </body>
</html>