<!DOCTYPE html>
<html lang="fr">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../public/style.css" rel="stylesheet">
        </head>
    <body>
            <% include ./partials/header%>
        <hr>
            <h1>ici vous verez biento les details le <%= film %></h1>
        <hr>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam odio numquam beatae, veritatis ab explicabo laborum, libero ut eaque quia vero vitae in repudiandae similique consequuntur repellat eos corporis? Deleniti!
        </div>

        <% include ./partials/footer%>
        <script src="../public/index.js"></script>
    </body>
</html>